<style>
  .color{
    background-color: crimson;
    color: #ffffff;
    
      }
      .borde{
        border: 1px solid crimson;
      }
  #letra{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }   
  #letr{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }   
  #leti{
    font-size: 14px;
  }
  #titulo{
    color: crimson;
    font-weight: bold;
  }
</style>
<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block "><img width="490px" height="505px" src="../assets/img/registro.jpg" alt=""></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center ">
              <h1 class="h4 mb-4 " id="titulo">Crear una cuenta</h1>
            </div>
            <form class="user">
              <div class="form-group">
                <input type="text" class="form-control form-control-user borde" name ="Nombre" aria-describedby="" placeholder=" Nombre de usuario" [(ngModel)]="credentials.nombre" required id="leti">
            </div>
            <div class="form-group">
                <input type="email" id="leti" class="form-control form-control-user borde" name ="email" aria-describedby="emailHelp" placeholder=" Correo electronico" [(ngModel)]="credentials.email" required>
            </div>
            <div class="form-group">
                <input type="password" id="leti" class="form-control form-control-user borde" name ="password" placeholder=" Contraseña" [(ngModel)]="credentials.password" required>
            </div><br>
              <button class="btn color btn-user btn-block" id="letra" type="submit" (click)="register()">
                Registrar
              </button>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" id="letr" routerLink="/login">Ya tienes una cuenta? Inicia sesion</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
