<style>
  .color{
    background-color: #000;
    color: #fff;
    
  }
  .letr{
    font-size: x-large;
  }
  .letra{
    color: #5a5a5a;
  }
</style>
<nav *ngIf="!auth.loggedIn" class="navbar navbar-expand-lg color ">
  <a class="color letr" routerLink="/tabla"><i class="fas fa-headphones"></i>MusicWorld!!</a>
  
  <div class="collapse navbar-collapse color" id="navbarNavDropdown">
    <ul class="navbar-nav ">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link letra" routerLink="/login">Iniciar sesion </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link letra" routerLink="/register">Registrar</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link letra" routerLink="/conocenos">Conocenos</a>
      </li>
    </ul>
  </div>
</nav>
<div>
  
</div>

