<router-outlet></router-outlet>
<div class="card spur-card">

    <div class="card-header">
  
  
        <div class="spur-card-title">
            <i class="fas fa-female"></i><i class="fas fa-male"></i>
            Insertar Generos </div>
  
    </div>
    <div class="card-body ">
        <form (submit)="postCate()" class="action">
            <div class="form-group">
  
                <label for="exampleFormControlInput1">Nombre:</label>
  
                <input type="text" class="form-control" name="nombre" placeholder="Cliente" [(ngModel)]="elements.nombre">
  
            </div>
  
            <div class="form-group">
  
              <label for="exampleFormControlInput1">Descripcion</label>
  
              <input type="text" class="form-control" name="descripcion" placeholder="De que trata?" [(ngModel)]="elements.descripcion" >
  
            </div>
  
            <button type="submit" class="btn btn-warning">Guardar</button>
  
        </form>
  
    </div>
  
  </div>
  <div class="table-responsive">
    <table class="table table-sm">
      <thead class="thead bg-dark text-white">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Eliminar</th>
        <th scope="col">Editar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let items of categoria">
        <td>{{items.nombre}}</td>
        <td>{{items.descripcion}}</td>
        <td><button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button></td>
        <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#rocketModal"><i class="fas fa-pen"></i> Editar</button></td>
      </tr>
  
      </tbody>
    </table>
  </div>
  
