<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Ordenes</h1>

<button type="button" class="btn btn-sm btn-success btn-icon-split mb-4" data-toggle="modal" data-target="#rocketModal">
  <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
  </span>
  <span class="text">
      Crear canción
  </span>
</button>

<!-- Add Rocket Modal -->
<div class="modal fade" id="rocketModal" tabindex="-1" role="dialog" aria-labelledby="rocketModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rocketModalLabel">Cohete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="desc">Description</label>
          <input type="text" id="desc" name="desc" class="form-control">
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <input type="text" id="status" name="status" class="form-control">
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" id="country" name="country" class="form-control">
        </div>
        <div class="form-group">
          <label for="height">Height</label>
          <input type="text" id="height" name="height" class="form-control">
        </div>
        <div class="form-group">
          <label for="diameter">Diameter</label>
          <input type="text" id="diameter" name="diameter" class="form-control">
        </div>
        <div class="form-group">
          <label for="mass">Mass</label>
          <input type="text" id="mass" name="mass" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <input
          data-dismiss="modal"
          type="button"
          value="Guardar"
          class="btn btn-success">
        <ng-template #editInput>
          <input
            data-dismiss="modal"
            type="button"
            value="Editar"
            class="btn btn-info text-light"
          >
        </ng-template>
      </div>
    </div>
  </div>
</div>
<!-- {{form.valid}} -->
<!-- End of Add Rocket Modal -->
<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead bg-dark text-white">
    <tr>
      <th scope="col">nombre</th>
      <th scope="col">precio</th>
      <th scope="col">cantidad</th>
      <th scope="col">categoria</th>
      <th scope="col">proveedor</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><button type="button" class="btn btn-danger">Delete</button></td>
      <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#rocketModal">Editar</button></td>
    </tr>

    </tbody>
  </table>
</div>
